.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    background-color: #fffdfd; 
    padding-top: 100px;
}

.main-page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.heading-container {
    flex: 1;
    padding-right: 2rem;
    text-align: left;
}

.heading-container h1 {
    font-size: 2rem;
    color: hsl(235, 70%, 60%);
    margin-bottom: 1rem;
}

.heading-container p {
    font-size: 1rem;
    color: #666;
}

.cards-container {
    flex: 1;
    display: flex;
    flex-direction:row;
    gap: 1rem;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    width: 200px;
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    font-size: 1.25rem;
    margin: 10px 0;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}
